.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-text-field,
.MuiInput-input {
  font-size: 0.75rem !important;
}

.login-text-field label {
  font-size: 0.65rem !important;
}

.login-text-field {
  width: 100% !important;
  margin: 0.45rem !important;
}

.login-btn {
  width: 100% !important;
  margin-top: 0.5rem !important;
  letter-spacing: 1px !important;
  font-size: 0.8rem !important;
}

.forgot-password {
  width: 100%;
  margin: 0.5rem;
  font-size: 0.5rem;
  text-align: right;
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 1px;
  transition: all linear 0.2s;
}

.forgot-password:hover {
  text-decoration: underline;
}
