.challenge-card-container {
  box-shadow: 0 0 10px var(--box-shadow);
  background-color: var(--transparent-color);
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--glass-border-color);
  display: flex;
  color: var(--text-color);
  margin: 1rem 0;
  padding: 0.6rem 0;
  transition: 0.2s all linear;
}

.challenge-card-container:hover {
  cursor: pointer;
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 15px var(--hover-color);
}

.card-left-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.4rem;
}

.challenge-card-other,
.challenge-card-heading {
  margin: 0.2rem 0;
}

.challenge-card-heading {
  word-break: break-all;
  font-size: 0.8rem;
}

.challenge-card-other {
  font-size: 0.5rem;
}

.card-right-container {
  width: 15%;
  box-sizing: border-box;
  padding: 0 0.5rem;
  padding-right: 0.8rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.question-card-delete-icon,
.question-card-edit-icon {
  font-size: 0.9rem !important;
  color: var(--text-color) !important;
  float: right !important;
  margin: 8px 5px;
  transition: 0.2s all linear !important;
}

.question-card-delete-icon:hover,
.question-card-edit-icon:hover {
  color: var(--hover-color) !important;
}

@media (max-width: 600px) {
  .card-left-container {
    padding: 0.2rem 0.7rem;
    width: 100%;
    box-sizing: border-box;
  }
}
